<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/register">Registro</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/products">Productos</a>
    </li>
     <li>
        <a href="/realtimeproducts">Realtimeproducts</a>
    </li>
    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>
</ul>