<ul>
    <li>
        <a href="/">Home</a>
    </li>
    <li>
        <a href="/register">Registro</a>
    </li>
    <li>
        <a href="/login">Login</a>
    </li>
    <li>
        <a href="/products">Productos</a>
    </li>
    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>
    <li>
        <a href="/cart/66031d63559259c38e6ce79e">Carrito</a>
    </li>
    <li>
        <a href="/profile">Perfil</a>
    </li>
</ul>